@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0 0 0 20%;
    background:linear-gradient(to right, #fff9fd, #f3dbf7); 
}

#mini-logo{
    display: none !important;
}
.menu{
    display: none !important;
}
.pool{
    display: flex;
    flex-direction: column;
    margin-left: 80%;
}
table {
    border-collapse: collapse;
    width: 123%;
    /* margin-left: 50%; */
    box-shadow: gray 5px 5px 5px;
    border-radius: 5px;
    background-color: #fff;
}
th,
td {
    text-align: left;
    padding: 8px;
}
th {
    color: #561278;
    font-size: 18px;
}
td {
    height: 30px;
}
tr:nth-child(even) {
    background-color: #DCBEEB;
}
#Image {
    border-radius: 50%;
    width: 4%;
    margin-bottom: 0;
    margin-top: 20px;
}
/* #profile {
    border-radius: 50%;
    width: 4%;
    margin-left: 90%;
    background-color: #000;
} */
/* #choin_available {
    margin-left: 75%;
    margin-top: 0;
    font-size: 20px;
} */

h2 {
    margin-left: 20px;
    margin-bottom: 0;
}
h1 {
    margin: 0;
}
/* .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    box-sizing: border-box;
} */
.row {
    display: flex;
    margin-top: -2%;
}
.row-2{
    display: flex;
}
.column2{
    margin-left: 14%;
    margin-top: 4%;
}
.column2>table {
    border-collapse: collapse;
    width: 190%;
    
    box-shadow: gray 5px 5px 5px;
    border-radius: 5px;
    background-color: #fff;
}
.column2>th,
.column2>td {
    text-align: left;
    padding: 8px;
}
.column2>th {
    color: #561278;
    font-size: 18px;
}
.column2>td {
    height: 20px;
}
.column2>tr:nth-child(even) {
    background-color: #DCBEEB;
}
.card {
    background-color: #DCBEEB;
    width: 150%;
    border-radius: 8px;
    opacity: 80%;
    margin-left: 10px;
    height: 83%;
    text-align: center;

    z-index: 1;
    box-shadow: 5px 5px 5px rgb(97, 96, 96);
}
.card-2 {
    background-color: #DCBEEB;
    width: 140%;
    border-radius: 8px;
    opacity: 80%;
    margin-left: 10px;
    height: 83%;
    text-align: center;

    z-index: 1;
    box-shadow: 5px 5px 5px rgb(97, 96, 96);
}
.column-1{
    margin-left: 15%;
    margin-top: 4%;
}
#prof {
    /* margin-left: 60px; */
    margin-top: 0;
    padding: 8px;
}
#img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 0;
    margin-top: 2%;
    object-fit: cover;
    box-shadow: 2px 2px 4px ;
}
#image-reward{
    width: 100px;
    height: 100px;
    margin-bottom: 0;
    margin-top: 2%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 2px 2px 4px ;
}

#profile-image{
    box-shadow: 2px 2px 4px ;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 3%;
}
.reward-heading >h1{
    margin-top: -3%;
    color: #561278;
}
#proff {
    margin-left: 30px;
    margin-bottom: 0;
    color: #561278;
}
#title {
    margin-bottom: 0;
    margin-top: -20px;
    margin-left: 10px;
    color: #561278;
}

h2 {
    margin-left: 25%;
    color: #561278;
    padding-bottom:10px;
    
}
.btns{
    background-color: #f4ddfc;
    padding: 10px;
    margin: 2% auto;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
#delete {
    font-weight: bolder;
    padding: 4px;
    border-radius: 5px;
    border: 3px solid white;
    background-color: white;
    padding-left: 23px;
    padding-right: 23px;
    color: rgb(104, 103, 103);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
#read {
    background-color: purple;
    color: white;
    padding: 5px;
    border: 3px solid purple;
    border-radius: 5px;
    font-weight: bolder;
    margin-left: 80px;
    margin-right: 30px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
h1 {
    font-size: 20px;
    margin-left: 30px;
}
#profile_up {
    margin-top: -3%;
    margin-left: 80%;
}
/* .prof_detail {
    padding-bottom: 0;
    margin-right: 20%;
} */
/* .dropbtn {
    margin-left: 20%;
    margin-right: 0;
} */
/* #content {
    margin-left: 40px;
} */
/* .dropdown {
    display: flex;
    margin-left: 50%;
    padding: 0;
} */
/* .dropdown-content {
    margin-right: 30%;
    width: 600%;
    background-color: rgb(7, 7, 7);
    margin-top: 40%;
    color: white;
    padding: 2%;
} */
/* #choin_available {
    margin-left: 210%;
} */
/* #profile {
    border-radius: 50%;
    width: 40px;
    background-color: #000;
    margin-left: 290%;
} */
#images{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
 .badge {
    position: absolute;
    top: 15px;
    right: -22px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: rgb(24, 24, 24);
    color: white;
  }
  .delete-notification{
      margin-top: 2%;
      background-color: #561278;
      color: #f7f2f8;
      border: none;
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
      border-radius: 2px;

  }
  #bell {
    color: purple;
    font-size: 30px;
    position: absolute;
    top: 34px;
    right: -12px;
}
#click-btn{
    position: absolute;
    top: 40px;
    right: -40px;
    
}
.dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20%;
    margin-top: 10%;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0%;
    top: 12.5%;
    padding: 0px 20px;
    font-size: 14px;
    background:linear-gradient(to right, #ebcce0, #ebbef3); 
    width: 500px;
    height: 600px;
    overflow: auto;
    color: rgb(15, 15, 15);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 10px rgba(12, 12, 12, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
   
}
@media (max-width:875px){
    body{
        margin: 0;
    }
    #mini-logo{
        display: inline !important;
        width: 30%;
        margin: 2%;
       
    }
    .menu{
        display: inline !important;
        color: #561278;
        font-size: 20px;
        padding-top: 50px;
        cursor: pointer;
    }
    .mini-header{
        display: flex;
        margin: 0 5%;
        justify-content: space-evenly;
    }
    .pool{
        margin-left: 50%;
        width: 50%;
    }
    #profile-image{
       
        margin-left: 70%;
    }
    .pool>p{
        font-size: 13px;
        margin-left: 15%;
    }
    .reward-heading{
        flex-direction: column;
       
    }
    .row {
       flex-direction: column;
    }
    .row-2{
        flex-direction: column;
    }
    .card{
        width: 80%;
    }
    .column-1{
        margin: 0% 2%;
       
    }
    table {
       
        width: 30%;
    }
    .column2>table {
       
        width: 80%;
    }
    .column2{
        margin-left: 5%;
       
    }
}